import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';

@Injectable({ providedIn: 'root' })
export class <%= featureNameVariations.className %>ApiService {
  private readonly baseUrl = '/api/v0.0/<%= featureNameVariations.name %>';

  constructor(private readonly http: HttpClient) {}
}
