import { Routes } from '@angular/router';

export default [
  {
    path: '',
    loadComponent: () => import('../feature/<%= featureNameVariations.fileName %>-page/<%= featureNameVariations.fileName %>-page.component'),
  },
] satisfies Routes;
